.ce-block__content,
.ce-toolbar__content {
  max-width: unset;
}

.ce-popover__container {
  background: var(--bs-body-bg);
}

.ce-popover-item {
  color: var(--bs-body-color);
}

.ce-toolbar__plus {
  color: var(--bs-body-color);
}

.ce-popover-item:hover:not(.ce-popover-item--no-hover) {
  background-color: var(--bs-btn-hover-color);
}

.cdx-search-field {
  background: var(--bs-body-bg);
}
.ce-toolbar__settings-btn {
  color: var(--bs-body-color);
}

.ce-toolbar__plus:hover,
.ce-toolbar__settings-btn:hover {
  background-color: unset;
}

.ce-block--selected .ce-block__content {
  background: var(--bs-tertiary-bg);
}

.ce-inline-tool {
  color: var(--bs-body-color);
}

.ce-inline-tool-input {
  background: var(--bs-body-bg);
  color: var(--bs-body-color);
}

@media (hover: hover) {
  .ce-inline-tool:hover {
    background-color: var(--bs-focus-ring-color);
  }
}

.tc-add-column:hover, .tc-add-row:hover {
  background-color: var(--bs-focus-ring-color) !important;
}

.tc-popover, .tc-cell--selected  {
  --color-background: var(--bs-body-bg) !important;
}