html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
}

.bg-primary-header {
    background: #5d36b1;
}

.header-icon {
    font-size: 24px;
}

.nm {
    margin: 0 !important;
    padding: 0 !important;
}

html, body, main {
    height: 100%;
    background-color: #f2f3f9;
}

.dashboard-item-container:hover {
    background: #211154;
}

.dashboard-item-container {
    padding-left: 20px;
}

.dashboard-item-container .name {
    margin-left: 10px;
    font-size: 18px;
}

.dashboard-item-container {
    padding-top: 10px;
    padding-bottom: 10px;
}
.menu-item a,
.panel-list-item > .menu-item {
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.panel-list {
    list-style-type: none;
    padding: 0;

}
.panel-list.dropdown > .panel-list-item .dashboard-item-container {
    padding-left: 25px;

}

.panel-list-item {
    background: #291569;
}

.dashboard-icon {
    background: transparent;
    border: none;
    font-size: 32px;
    color: #ffffff;
}


.dashboard-icon:hover {
    color: #ff0000;
}

.ce-block__content,
.ce-toolbar__content {
    max-width: unset;
}